name: FLUTTER_PUBLISH

on:
  release:
    types: [published]

jobs:
  publish_android_aar:
    runs-on: ubuntu-latest
    env:
      PUB_HOSTED_URL: https://pub.flutter-io.cn
      FLUTTER_STORAGE_BASE_URL: https://storage.flutter-io.cn
    steps:
      - uses: actions/checkout@v2
        with:
          path: xiachufang_flutter
      - uses: actions/setup-java@v1
        with:
          java-version: '12.x'
          
      - name: Cache Flutter dependencies
        uses: actions/cache@v2
        with:
          path: ${{ github.workspace }}/flutter
          key: ${{ runner.OS }}-flutter-install-cache-2.5.1

      - name: Prepare Flutter
        run: |
            cd ${{ github.workspace }}
            git clone --depth 1 --branch 2.5.1 https://github.com/flutter/flutter.git
            echo "${{ github.workspace }}/flutter/bin" >> $GITHUB_PATH
            echo "${{ github.workspace }}/flutter/bin/cache/dart-sdk/bin" >> $GITHUB_PATH

      - name: Install Flutter Tools
        run: |
            flutter config --no-analytics
            flutter precache

      - name: Build and Publish
        run: |
          cd ${{ github.workspace }}/xiachufang_flutter
          echo "==Start flutter build aar"
          flutter build aar --no-debug --no-profile --build-number ${{ github.event.release.tag_name }}
          echo "==flutter build success."
    outputs:
      job-status: ${{ job.status }}
